<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
	</configSections>
	<startup>
	</startup>
	<appSettings>
		<!-- TODO: Serilog的配置还可以写在这里 -->
		<!-- <add key="serilog:minimum-level" value="Information" /> -->
	</appSettings>
	<modules>
		<!-- TODO: module的路径以及Assembly签名 -->
		<module assemblyFile="PrismCoreTemplate.Modules.ModuleName.dll"
		        moduleType="PrismCoreTemplate.Modules.ModuleName.ModuleNameModule, PrismCoreTemplate.Modules.ModuleName, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
		        moduleName="ModuleNameModule" startupLoaded="True" />


		<module assemblyFile="ModuleFunctionA.dll"
		        moduleType="ModuleFunctionA.ModuleFunctionAModule, ModuleFunctionA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
		        moduleName="ModuleFunctionAModule" startupLoaded="True" />
	</modules>
</configuration>